<div class="navbar navbar-custom navbar-fixed-top sticky" role="navigation" id="sticky-nav">
    <div class="container">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if user.is_authenticated %}
            <a class="navbar-brand logo" href="{% url 'subscriptions' %}">
                NYC Broadway Club
            </a>
            {% else %}
            <a class="navbar-brand logo" href="{% url 'landing-page' %}">
                NYC Broadway Club
            </a>
            {% endif %}

        </div>

        <div class="navbar-collapse collapse" id="navbar-menu">
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      {{ request.user.email }} <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                  </ul>
                </li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a type="button" class="btn btn-white-fill navbar-btn-alt go-to-register"
                        href="{% url 'landing-page' %}#register">
                        Sign Up
                    </a>
                </li>
            </ul>
            {% endif %}

        </div>
    </div>
</div>