{% extends 'shows/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
<div class="container subscription" style="margin-top: 60px;">
    <h3>Choose your shows</h3>
    <hr style="border-color: #ddd;">
    <form class="text-center" method="post">
        {% csrf_token %}
        <div class="row">
        {{ form }}
        </div>
        <div class="row">
            <div class="col-sm-6 text-center" style="padding-bottom: 10px;">
                <button type="submit" class="btn btn-white-fill btn-block btn-hover-text-green"
                        name="button" value="update-subscriptions">
                    Save
                </button>
            </div>
            <div class="col-sm-6 text-center" style="padding-bottom: 10px;">
                <button type="submit" class="btn btn-white-fill btn-block btn-hover-text-green"
                        name="button" value="unsubscribe-from-all">
                    Unsubscribe from all
                </button>
            </div>
        </div>
    </form>

</div>
{% endblock %}